@charset 'UTF-8';

.header {
	margin: 0;
	height: 10vh;
	background-color: $color-primary;
	display: flex;
	align-items: center;
	justify-content: center;
	
	&__title {
		text-transform: uppercase;
		font-weight: lighter;
		font-size: 1.6em;
		text-align: center;
		color: $color-second;
	}
}